// Colors
// $color-primary: rgb(8, 180, 214);
// $color-secondary: rgb(8, 67, 107);
// $color-tertiary: rgb(146, 220, 235);

$color-primary: rgba(120,120,90,1);
$color-secondary: rgba(36,36,36,0.95);
$color-tertiary: rgba(176,176,176,1);