@import './colors.scss';

.grid {
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  padding: 7vh 1vw 1vh 1vw;
  grid-template-columns: [col-0] 20vw [col-1] 75vw ;
  grid-template-rows: [row-0] 80vh [row-1] 20vh;
  gap: 10px 10px;

  & > .item {
    &__chat {
      grid-column: col-0;
      grid-row: row-0 / row-1;
    }
  
    &__camera {
      grid-column: col-1;
      grid-row: row-0 / row-1;
    }
  }
}

@media (max-width: 750px) and (orientation: portrait) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .grid-bitcoin {
    display: flex !important;
    flex-direction: column;
  }

  .item {
    &__chat {
      min-height: 40vh;
      margin-top: 5vh;
    }
  
    &__camera {
      min-height: 50vh;
      margin-top: 5vh;
    }
  }
}